.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(240, 240, 240, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: rgba(240, 240, 240, 0.7);
  border-radius: 50%;
  color: var(--foreground-rgb);
}

.closeButton::before,
.closeButton::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 15px;
  background: currentColor;
  transform-origin: center;
}

.closeButton::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.closeButton::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
