.main {
  min-height: 100vh;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 3rem 0;
  font-size: 4rem;
}

.galleryWrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  padding: 2rem;
  margin: auto;
}

.galleryItem {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  aspect-ratio: 1 / 1;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.galleryItem:hover,
.galleryItem:focus {
  transform: scale(1.05);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media (max-width: 800px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 740px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (prefers-reduced-motion) {
  .galleryItem:hover {
    transform: none;
  }
}

@media (max-width: 700px) {
  .center {
    padding: 2rem 0;
  }
}
