.main {
  min-height: 100vh;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 3rem 0;
  font-size: 4rem;
}

.galleryWrapper {
  max-width: 1800px;
  margin: 0 auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, minmax(350px, 1fr));
  grid-gap: 2rem;
  padding: 2rem;
  margin: auto;
  justify-content: center;
  align-items: start;
  min-height: calc(100vh - 244px);
}

.galleryItem {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.galleryItem:hover,
.galleryItem:focus {
  transform: scale(1.03);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pageNumber {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pageNumber:hover:not([disabled]) {
  background-color: #e0e0e0;
}

.pageNumber[disabled] {
  background-color: var(--background-end-rgb);
  color: var(--foreground-rgb);
  border-color: var(--background-end-rgb);
  cursor: default;
}

.pageNumber:disabled {
  pointer-events: none;
}

@media (max-width: 1800px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 740px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (prefers-reduced-motion) {
  .galleryItem:hover {
    transform: none;
  }
}

@media (max-width: 700px) {
  .center {
    padding: 2rem 0;
  }
}
